
@{
    ViewData["Title"] = "AccountManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model VirtualCredit.Models.UserInfoModel;
<script>
    document.body.onload = showMsg;
</script>
<div>
    @{
        string msg = Context.Session.Get<string>("noAccessCreateAccout");
        <span style="visibility:hidden;width:0px;height:0px" id="msg">@msg</span>
        Context.Session.Set("msg", string.Empty);
    }
    <hr />
    <a class="btn btn-info" asp-action="ViewAccounts" asp-controller="Account">浏览账号</a>
    <a class="btn btn-info" asp-action="Register" asp-controller="Account">新建账号</a>
    <hr />
</div>
