
@{
    ViewData["Title"] = "RegisterSucceed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>注册成功</title>
<h4>注册成功！</h4>
<p>5秒后将自动跳转到首页</p>
<meta http-equiv="refresh" content="5;url=/Account/Account" />

