@model ErrorViewModel
@{
    ViewData["Title"] = "页面错误";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">出错啦！</h2>

@*@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}*@

<h3>建议</h3>
<p>
    请检查您的输入内容，保证输入内容合法
</p>

