
@{
    ViewData["Title"] = "RecipeSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@using Insurance.Models
@model Insurance.Models.RecipeSummaryModel
<div>
    @{
        UserInfoModel currentUser = Context.Session.Get<UserInfoModel>("CurrentUser");
        if (currentUser.AccessLevel == 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">公司名称</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CompanyList != null && Model.CompanyList.Count > 0)
                    {
                        @foreach (Company item in Model.CompanyList)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td><a href="/Home/RecipeSummaryByMonth?name=@item.Name" class="btn btn-primary">详细</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    }
</div>
<script>
    $("a.active").removeClass('active');
    $("#page_6").addClass('active');
</script>
