/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    margin: 0px;
    padding: 0px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

.input-group-prepend > span {
    width: 80px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2333ff33' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2333ff33' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.li_tab {
    float: left;
    margin-left: 10px;
    width: 80px;
    cursor: pointer;
    border-bottom: solid;
    border-bottom-color: lightgrey;
    text-align: center;
    border-top: solid;
    border-top-color: white;
}

.li_tab_active {
    border-top: solid;
    border-top-color: #0069d9;
}

.imgBox {
    width: 100%;
    height: 100%;
    text-align: center;
}


#btnSubmit {
    width: 100px;
}

#flat {
    float: left;
    margin: 0.2% 0.667%;
    border-width: 3px;
    border-Style: solid;
    text-Align: center;
    border-Color: grey;
}

.numbericDashboard {
    float: left;
    margin-right:10px;
    width:30%
}

td.td_middle {
    vertical-align: middle;
}

tbody tr td {
    vertical-align: middle;
}

.resultTable {
    table-layout: fixed;
}

.storyForm {
    width: 100%;
}

.img_loading {
    padding-left: 5px;
    margin-bottom: 5px;
    visibility: hidden
}

#linkUpload {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.line-label {
    width: 100px;
    display: inline-block;
}

.col-md-4 {
    width: 100%;
}

.comment {
    width: 100%;
    min-height: 200px;
    background-color: white;
    border: inset;
    border-width: 2px;
    border-color: #dfdedf;
}


.input-group-text > input.btn {
    width: 20%;
    max-width: 120px;
    height: 35px;
    border: outset;
    border-width: 1px;
    background-color: orange;
    margin-left: auto;
    margin-right: 1%;
    color: white;
    font-weight: 500;
}

.toolItem {
    margin-left: 3px;
    width: 60px;
    height: 22px;
    padding: 0;
}


.btn-custom {
    margin-left: 10px;
}

.line {
    width: 50%;
    max-width: 120px;
    text-align: center;
    display: block;
}

.inline-control {
    width: 100%;
    min-width: 100px;
    max-width: 200px;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

body {
    background-color: white;
}

footer {
    background-color: white;
}
/*@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}*/
form input.inputBox {
    width: 30%;
    min-width: 150px;
}

.registerForm {
    height: 40%;
    width: 80%;
}

.warningMessage {
    color: red;
    margin: 10px;
}

form.formHome {
    text-align: center;
    margin-top: 10px;
    width: 100%;
}

.DivSubmit {
    margin-top: 50px;
    height: 40px;
}

.btn-submit {
    vertical-align: middle;
    margin-top: 20px;
    text-align: center;
    padding: 10px 20px;
}

.btn-search {
    width: 10%;
    /*max-width: 70px;*/
    min-width: 60px;
    height: 40px;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}

.searchElements {
    margin: auto;
    height: 10%;
    align-content: center;
}

.searchBox {
    width: 70%;
    height: 40px;
    vertical-align: middle;
    /*border-width: 1px;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;*/
}

div.UBar {
    margin-left: auto;
    margin-right: 5px;
}

ul.UBar {
    list-style-type: none;
}

li.UBar {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    background-color: lightgrey;
    margin-right: 5px;
    margin-top: 20px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
